* {
    padding: 0;
    margin: 0;
    user-select: none;
}

::-webkit-scrollbar {
    width: 4px;
    height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff33;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffffcc;
}

@font-face {
    font-family: "segoe";
    src: url("segoe-ui.ttf");
}

svg {
    transition: all 0.2s ease-in-out;
}

body {
    --theme: #f17a12;
    --themeBG: #ecaf7a33;
    background: #000;
    overflow: hidden;
    font-family: "segoe";
}

#bg_img {
    position: fixed;
    height: 120%;
    width: 120%;
    left: -10%;
    top: -10%;
    background: #000;
    transition: all 0.5s ease-in-out;
    filter: brightness(30%) blur(60px);
}

#player_container {
    position: fixed;
    text-align: center;
    /* background-color: white; */
    /* width: 100%; */
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* box-shadow: #00000033 0 0 3px 3px; */
}

#interactive_container {
    position: relative;
    display: inline-block;
    height: 20rem;
    width: 20rem;
}

#cover {
    position: relative;
    display: inline-block;
    height: 20rem;
    width: 20rem;
}

#cover_img {
    object-fit: cover;
    margin: 1rem;
    width: calc(100% - 2rem);
    border-radius: 1rem;
    aspect-ratio: 1;
}

#play_list {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    height: 20rem;
    width: 20rem;
    /* background-color: aqua; */
}

.list_item {
    position: relative;
    text-align: left;
    overflow: hidden;
    width: 90%;
    height: 3rem;
    left: 5%;
    margin-top: 0.5rem;
    background-color: #ffffff22;
    color: #fff;
    border-radius: 0.4rem;
}

.list_item img{
    position: absolute;
    height: 3rem;
    width: 3rem;
    object-fit: cover;
}

.list_item span{
    display: inline-block;
    font-weight: 500;
    font-size: 1rem;
    margin-left: 3.5rem;
    height: 3rem;
    line-height: 3rem;
    width: auto;
    text-wrap: nowrap;
}

.list_item_selected {
    background-color: var(--themeBG);
}

.list_item_selected span{
    font-weight: 600;
    font-size: 1.05rem;
}

#info {
    color: #fff;
    text-align: center;
    height: 6rem;
    padding-top: 2rem;
    /* background-color: aqua; */
}

#title {
    font-size: 1.5rem;
}

#artist {
    font-size: 1rem;
    color: #ffffffbb;
}

input[type="range"] {
    border-radius: 3rem;
    -webkit-appearance: none;
    background-color: #fff;
    overflow: hidden;
    width: 90%;
    border: 0.1rem;
    margin-top: 1%;
}

#progress_timestamp {
    position: relative;
    width: 100%;
    height: 7%;
    color: #ccc;
}

#progress_bar_input {
    transition: background-color 0.2s ease-in-out;
}

#current {
    top: 0;
    position: absolute;
    left: 5%;
}

#total {
    top: 0;
    position: absolute;
    right: 5%;
}

.list_btn {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    height: 1.5rem;
    width: 1.5rem;
}

.list_btn svg {
    fill: var(--theme);
    height: 1.5rem;
    width: 1.5rem;
}

#control {
    width: 100%;
    text-align: center;
    /* background-color: bisque; */
    transition: all 0.2s ease-in-out;
    line-height: 25%;
    text-wrap: nowrap;
}

.btn {
    text-align: center;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 3rem;
    padding: 1rem;
    /* border: 0.05rem solid #ccc; */
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 8%;
    margin-bottom: 4%;
}

.btn svg {
    transition: fill 0.2s ease-in-out;
    fill: var(--theme);
    height: 2rem;
    width: 2rem;
}

.backward {
    transform: rotate(180deg);
}

.play {
    transition: background-color 0.2s ease-in-out;
    background-color: var(--themeBG);
}

#toggle {
    position: relative;
    width: 100%;
    text-align: center;
    height: 25%;
}

.toggle_btn {
    text-align: center;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 3rem;
    padding: 1rem;
}

.toggle_btn svg {
    fill: #ffffff33;
    height: 2rem;
    width: 2rem;
}

input[type='range'] {
    -webkit-appearance: none;
    background-color: var(--themeBG);
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    /* color: #13bba4; */
    margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
    transition: all 0.2s linear;
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    /* cursor: ew-resize; */
    background: var(--theme);
    box-shadow: -100vw 0 0 100vw var(--theme);
}